# Import Data

In [2]:
import pandas as pd
import cvxpy as cp
import numpy as np
#import gdown

In [14]:
data = pd.DataFrame({'year': [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
                     'generate': [8.26192344363636, 9.20460066059596, 12.0178164697778, 15.921260267805, 21.2161740066094, 31.420434564131, 38.3904519471421, 52.3307819867071, 62.9113953016839, 85.1161924282732, 104.083879757882, 132.859216030029, 170.682620580279, 220.600045153997, 276.020526299077, 346.465021938078, 440.385091980306, 530.55442135112, 635.49205101167, 705.805860788812, 831.42968828187, 962.227395409379, 1140.31094904253, 1269.52053571083, 1418.17004626655, 1591.2135122193]})
data['sales'] = [0]+[data['generate'][i+1]-data['generate'][i] for i in range(data.shape[0]-1)]
data['cum_sum'] = data['generate'].cumsum()
generate = data.generate

In [15]:
data

    year     generate       sales       cum_sum
0   1995     8.261923    0.000000      8.261923
1   1996     9.204601    0.942677     17.466524
2   1997    12.017816    2.813216     29.484341
3   1998    15.921260    3.903444     45.405601
4   1999    21.216174    5.294914     66.621775
5   2000    31.420435   10.204261     98.042209
6   2001    38.390452    6.970017    136.432661
7   2002    52.330782   13.940330    188.763443
8   2003    62.911395   10.580613    251.674839
9   2004    85.116192   22.204797    336.791031
10  2005   104.083880   18.967687    440.874911
11  2006   132.859216   28.775336    573.734127
12  2007   170.682621   37.823405    744.416747
13  2008   220.600045   49.917425    965.016793
14  2009   276.020526   55.420481   1241.037319
15  2010   346.465022   70.444496   1587.502341
16  2011   440.385092   93.920070   2027.887433
17  2012   530.554421   90.169329   2558.441854
18  2013   635.492051  104.937630   3193.933905
19  2014   705.805861   70.313810   3899.739766
20  2015   831.429688  125.623827   4731.169454
21  2016   962.227395  130.797707   5693.396850
22  2017  1140.310949  178.083554   6833.707799
23  2018  1269.520536  129.209587   8103.228334
24  2019  1418.170046  148.649511   9521.398381
25  2020  1591.213512  173.043466  11112.611893

In [16]:
P = cp.Variable()
Q = cp.Variable()
M = cp.Variable()

In [17]:
def c_t(x, p, q, m):
    # return (p+(q/m)*(x))*(m-x)
    return (p*m+(q-p)*(x))-(q/m)*(x**2)

In [18]:
bass = c_t(data.year, P, Q, M)